<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="panel">
  <div class="alert alert-success">
    You are now in the rainforest lmao
  </div>
  <%= image_tag "founder.jpg", alt: "Our founder, B. McTrippin", title: "Our founder, B. McTrippin", class: "founder" %>
  <p>Jungle began when our founder, B. McTrippin returned from a tour of the Amazon River and was inspired to create what turned out to be the most stylish and coveted product ever created: <%= link_to "Human Feet Shoes", "/products/6" %></p>
  <p><%= image_tag "/uploads/product/image/6/apparel6.jpg", alt: "HUMAN FEET SHOES", title: "HUMAN FEET SHOES", class: "feet-shoes" %></p>
  <p>Next step should be to purchase some stuff!!!  Click the button below to explore!</p>
  <p><%= link_to "DON'T DELAY BEFORE IT'S GONE!!!", :root, class: "btn btn-primary"%></p>
</div>